{% extends "base.html" %}
{% block head %}
		{{ super() }}
{% endblock %}
{% block nav %}
		{{ super() }}
{% endblock %}
{% block messages %}
		{{ super() }}
{% endblock %}
{% block content %}
<form method="post" action="/create/" enctype="multipart/form-data">
    <dl>
		<p>
			<label>Folder name:</label>
			<select name="folder_name">
        {% for folder in folders %}
            <option value="{{ folder }}">{{ folder }}</option>
        {% endfor %}
        </select>
		</p>
    </dl>
		<p>
			This will take a few minutes to complete. (Hours if you uploaded thousands of photos!)
		</p>
		<p>
			 A message and link will appear when finished.
		</p>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
