<!doctype html>
<title>Create PixPlot</title>
<h2>Select image folder to create PixPlot</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/create/" enctype="multipart/form-data">
    <dl>
		<p>
			<label>Folder name:</label>
			<select name="folder_name">
        {% for folder in folders %}
            <option value="{{ folder }}">{{ folder }}</option>
        {% endfor %}
        </select>
		</p>
    </dl>
		<p>
			This will take a few minutes to complete. (Hours if you uploaded thousands of photos!)
		</p>
		<p>
			 A message and link will appear when finished.
		</p>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
<p>
  <a href="{{ url_for('home') }}">Return home</a>
</p>
