{% extends "base.html" %}
{% block title %}4CAT scrapers{% endblock %}
{% block head %}
		{{ super() }}
{% endblock %}
{% block nav %}
		{{ super() }}
{% endblock %}
{% block messages %}
		{{ super() }}
{% endblock %}
{% block content %}
<ul>
    {% for file in files %}
    <li>
        <a href="{{ (request.path + '/' if request.path|last != '/' else request.path) + file }}">
            {{ file }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
