{% extends "base.html" %}
{% block title %}4CAT scrapers{% endblock %}
{% block head %}
		{{ super() }}
{% endblock %}
{% block nav %}
		{{ super() }}
{% endblock %}
{% block messages %}
		{{ super() }}
{% endblock %}
{% block content %}
<form method="post" action="/upload/" enctype="multipart/form-data">
    <dl>
		<p>
			<label>Folder name:</label>
			<input name="folder_name" required>
		</p>
		<p>
			<label>Metadata csv (optional):</label>
			<input type="file" name="metadata" autocomplete="off">
		</p>
		<p>
			<label>Images:</label>
			<input type="file" name="images" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
