<!doctype html>
<title>Upload Images</title>
<h2>Select image(s) to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/upload/" enctype="multipart/form-data">
    <dl>
		<p>
			<label>Folder name:</label>
			<input name="folder_name" required>
		</p>
		<p>
			<label>Metadata csv (optional):</label>
			<input type="file" name="metadata" autocomplete="off">
		</p>
		<p>
			<label>Images:</label>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
